{% extends "base.html" %} 
{% block link %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> 
<script src="{{ url_for('static', filename='script/chat.js') }}" defer></script>
{% endblock %}
{% block title %}Chat{% endblock %} 
{% block Chat %}active{% endblock %} 

{% block content %}
<div class="container">
    <div class="room-id" >
        <h3>room ID: <span id="room-id">N/A</span></h3>
    </div>
    <div class="d-flex">
        <aside>
            <div class="aside" style="height: 100%;">
                <div class="mb-3">
                    <label for="roomID" class="form-label">Enter Room ID</label>
                    <input type="number" class="form-control" id="roomID">
                </div>
                <button type="button" onclick="joinRoom()" class="btn btn-dark mb-1">Join Room</button>
                <button type="button" onclick="leaveRoom()" class="btn btn-dark">Leave Room</button>

            
                <div class="d-flex mt-3">
                    <a type="button" class="btn btn-outline-dark" href="/logout">Log Out</a>
                </div>
            </div>
        </aside>
        <div class="chat m-2" id="chat-area">
            
            
        </div>
    </div>


    <div class="message-box mt-2">
        <div class="row">
            <div class="col-11">
                <div class="mb-3">
                    <input type="text" class="form-control" id="text-message" style="width: 100%;">
                </div>
            </div>
            <div class="col-1">
                <button type="button" onclick="sendMessage()" class="btn btn-dark">Send</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}