{% extends "base.html" %} 
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}"> {% endblock %}
{% block title %}Home Page{% endblock %} 
{% block Home %}active{% endblock %} 

{% block content %}
<div class="container welcome-container d-flex flex-column">
    <h1 class="m-2" style="text-align: center;">Welcome to Chat App</h1>
    <div class="welcome-links d-flex justify-content-center m-3">
        <a href="/login" class="btn btn-dark m-2">Login</a>
        <a href="/registration" class="btn btn-dark m-2">Register</a>
    </div>
</div>
{% endblock %}