{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block Login %}active{% endblock %} 

{% block content %}
<div class="container">
    <div class="login-form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2 class="mb-4">Login</h2>
        <form accept="#" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</div>
{% endblock %}